HTTP_PORT=8080

DB_HOST=demo-api-db-pg
DB_PORT=5432
DB_NAME=app
DB_USER=app
DB_PASSWORD=secret

REDIS_HOST=demo-api-redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

DEMO_API_MAIN_SYSTEM_USER_ID=1000
DEMO_API_MAIN_SYSTEM_USER_NAME=user_name
DEMO_API_MAIN_SYSTEM_USER_PASSWORD=secret
DEMO_API_DB_DSN="postgres://user:secret@demo-api-db-pg/demo_api?sslmode=disable"
#scheme    = postgres
#user      = user
#password  = secret
#host      = demo-api-db-pg
#database  = demo_api